{% for month, businessTraffics in businessTrafficsData %}
  <div class="budsafes-business-track">
    {% if month is not empty %}
      <p class="budsafes-business-track-month" data-month="{{ month | date('m') }}">
        {{ month | date('F') }}
      </p>
    {% endif %}
    <span class="result-message font-weight-bold"></span>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th colspan="8">Business tracking</th>
        <th class="p-0">
          {% if month | date('m') == "now" | date('m') %}
            <button class="budsafes-business-track-add-button business-tracking">+</button>
          {% endif %}
        </th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Importo</th>
        <th scope="col">Valuta</th>
        <th scope="col">Tipologia</th>
        <th scope="col">Data ora aggiunta</th>
        <th scope="col">Modifica</th>
        <th scope="col">Elimina</th>
      </tr>
      </thead>
      <tbody>
      {% for businessTraffic in businessTraffics %}
        <tr data-businessTraffic="{{ businessTraffic.id }}">
          <th scope="row">{{ loop.index }}</th>
          <td data-categoryid="{{ businessTraffic.category.id }}">{{ businessTraffic.category.name }}</td>
          <td>{{ businessTraffic.description }}</td>
          <td>{{ businessTraffic.amount }}</td>
          <td>{{ businessTraffic.currency.symbol }}</td>
          <td data-type="{{ businessTraffic.category.type }}">
            {% if businessTraffic.category.type == "0" %}
              Entrata <i class="fas fa-arrow-up income"></i>
            {% elseif businessTraffic.category.type == "1" %}
              Uscita <i class="fas fa-arrow-down outcome"></i>
            {% elseif businessTraffic.category.type == "2" %}
              Risparmio <i class="fas fa-piggy-bank piggyBank"></i>
            {% endif  %}
          </td>
          <td data-added="{{ businessTraffic.added.date | date('Y/m/d H:i') }}">{{ businessTraffic.added.date | date('d/m/Y H:i') }}</td>
          <td class="editBusinessTraffic"><i class="far fa-edit edit"></i></td>
          <td class="deleteBusinessTraffic" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt trash"></i></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}